[submodule "rpidrone/external/RPiSocket"]
	path = rpidrone/external/RPiSocket
	url = git@github.com:Krenol/RPiSocket.git
[submodule "rpidrone/external/RPiComponents"]
	path = rpidrone/external/RPiComponents
	url = git@github.com:Krenol/RPiComponents.git
[submodule "rpidrone/external/doctest"]
	path = rpidrone/external/doctest
	url = https://github.com/onqtam/doctest.git
[submodule "rpidrone/external/CppControllers"]
	path = rpidrone/external/CppControllers
	url = git@github.com:Krenol/CppControllers.git
[submodule "rpidrone/external/easyloggingpp"]
	path = rpidrone/external/easyloggingpp
	url = https://github.com/amrayn/easyloggingpp.git
